.allProducts .description{
  border-top: 1px solid rgb(0, 0, 0);
  background-color: #003c4d;
  color: whitesmoke;
  border-bottom: 1px solid rgb(114, 114, 114);
  padding: 20px 0;
}
.allProducts h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}
.allProducts .categorieName{
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
.allProducts .spinnerContainer{
  display: flex;
  justify-content: center;
}
.allProducts .productsList{
  /* todo: remove min-height */
  min-height: 50vh;

  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.allProducts .productsList .productCard{
  margin-bottom: 20px;
}
.allProducts .descriptionText{
  opacity: .6;
  text-align: center;
  margin-top: 9px;
  font-weight: normal;
}




.singleProduct{
  background-color: rgb(255, 249, 241);
  border-top: 1px solid gray;
}
.singleProductInner{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.singleProduct h1{
  text-align: center;
  margin: 30px 0;
  text-decoration: underline;
}

section.newsletter{
  background-color: #EDE734;
}
.newsletterInner{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.newsletterInner h1{
  color: black;
  flex-grow: 1;
}
.newsletterInner button{
  flex-grow: 1;
  background-color: #A7DA20;
  color: black;
  font-weight: bold;
  border-radius: unset;
}
.newsletterInner button:hover{
  background-color: #96c21d;
}





@media screen and (max-width: 1000px){
  .newsletterInner{
    flex-direction: column;
  }
  .newsletterInner button{
    margin-top: 20px;
  }
}