@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root{
  --primaryColor: #1ca2c7;
  --textColor : #2E2E2E;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--textColor);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.header-separator{
  margin-top: 110px;
}
.btn{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 200ms;
}
.btn.big{
  padding: 20px 30px;
  font-size: 18px;
}
.btn:hover{
  background-color: #b61127;
  cursor: pointer;
}
.subheader{
  width: 100vw;
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(122, 122, 122);
  border-bottom: 1px solid rgb(122,122,122);
  padding: 20px 0;
}
.subheaderInner{
  padding-left: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
div.hide{
  display: none;
}



/* MINI HEADER SECTION */

.miniHeader{
  height: 50px;
  width: 100%;
  background-color: var(--textColor);
}
.miniHeaderInner {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.miniHeader svg{
  margin-right: 10px;
}
.miniHeader a{
  margin: 0 25px;
}
.miniHeader-cart, .miniHeader-profile{
  color: #d1d1d1;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #818181;
  border-radius: 10px;
  padding: 5px;
  transition: 200ms;
}
.miniHeader-cart:hover{
  color: #fafafa;
  background-color: rgba(255, 255, 255, 0.164);
}
.miniHeader-profile:hover{
  color: #fafafa;
  background-color: rgba(255, 255, 255, 0.164);
}
.miniHeader-cart .counter {
  padding-left: 10px;
}


header {
  background-color: rgba(255, 255, 255, 0.521);
  height: 110px;
  width: 100%;
}
.navbarInner {
  max-width: 1200px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarInner-links{
  height: 110px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.navbarInner-links-router{
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
.navbarInner-links-router ul{
  display: flex;
}
.navbarInner-links-router ul li {
  list-style-type: none;
  margin: 0 10px;
  padding-bottom: 4px;
}
.navbarInner-links-router ul li.active {
  border-bottom: 6px solid var(--textColor);
}
.navbarInner-links-router ul li a:hover{
  color: var(--primaryColor);
}
.navbarInner-links-router ul li a{
  color: var(--textColor);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -1.3px;
  transition: 200ms;
}
.navbarInner-links-social{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.navbarInner-links-social a{
  margin: 10px;
}
.navbarInner-links-social a svg{
  transition: 200ms;
}
.navbarInner-links-social a svg:hover{
  fill: var(--primaryColor);
}
.navbarInner-logo {
  display: flex;
  align-items: center;
  width: 250px;
}
.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: var(--textColor);
  transition: 300ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
}
.mobile-menu li{
  list-style-type: none;
  text-align: center;
  margin: 40px 0;
}
.mobile-menu-slide{
  left: 0;
  opacity: 1;
}
.escape-btn svg{
  position: absolute;
  top: 25px;
  right: 25px;
  margin: 0;
}
.mobile-menu-social a{
  margin: 10px;
}
.mobile-menu-route a{
  color: #FAFAFA;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -1.3px;
}
.mobile-menu-route.active a{
  color: var(--primaryColor);
}

.hero{
  max-height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}
.heroInner{
  height: 100%;
}



.cartButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
  border-radius: 50px;
  background-color: rgb(2, 162, 255);
  box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  padding: 20px 20px;
  font-size: 40px;
  transition: 200ms;
}
.cartButton:hover{
  cursor: pointer;
  background-color: rgb(11, 130, 228);
}


/* PROFILE PAGE */
.profileContainer{
  width: 100%;
}
.profileInner{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
.profile-login, .profile-signup{
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 30px;
  border: 1px solid rgb(223, 223, 223);
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profileInner h3{
  margin-bottom: 20px;
}




/* mobile  */
@media screen and (max-width: 1000px){

  .header-separator{
    margin-top: 80px;
  }
  .subheaderInner{
    text-align: center;
  }


  .miniHeaderInner{
    justify-content: space-around;
  }

  header {
    height: 80px;
  }
  .navbarInner{
    height: unset;
  }
  .navbarInner-links{
    height: 80px;
  }
  .navbarInner-logo {
    width: 180px;
  }
  .navbarInner-logo img{
    height: 80px;
  }
  .navbarInner-links-router {
    height: 100%;
    align-items: center;
  }
  .navbarInner-links-router-mobile{
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--textColor);
    transition: 200ms;
  }
  .navbarInner-links-router-mobile svg{
    margin: 0 10px 0 15px;
  }
  .navbarInner-links-router-mobile:hover{
    color: var(--primaryColor);
  }
  .navbarInner-links-router-mobile span{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -1.3px;
  }

  .heroInner{
    align-items: center;
  }
  .heroInner h1{
    font-size: 35px;
    text-align: center;
  }
  .btn.big{
    padding: 10px 20px;
  }
  .heroInner h1::before{
    width: 0;
    height: 0;
  }
  .heroInner h1::after{
    width: 0;
    height: 0;
  }

  .cartButton{
    right: 10px;
    bottom: 20px;
    padding: 15px;
  }
  .cartButton svg{
    height: 35px;
    width: 35px;
  }


  /* PROFILE PAGE */
  .profileInner{
    flex-direction: column;
  }
  .profile-login, .profile-signup{
    width: unset;
    padding: 20px;
    align-self: center;
    width: 90%;
  }


}